/*Global configuration*/

/* * {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/

/*Header*/
header{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 150px;
    background-color: #c1c1c1;


}

header h1{
    font-size: 60px;
    margin-top: 0;
    padding: 20px;
    text-align:center;
    
}

.sectioncenter{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}



/*Button*/

.btn {
    margin: 20px auto;
    border: none;
    padding: 10px 44px;
    font-size: 15px;
    position: relative;
  }
  .btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
  }
  .btn .btn-text {
    color: white;
    mix-blend-mode: difference;
  }
  .btn:hover::before {
    background: black;
    width: 100%;
  }



/*Input Task Text*/

section div input{
    width: 60%;
  }

  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: 'Slabo 27px', serif;
    text-align: center;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 8pxpx;
  }
  
  .form__label {
    position:absolute;
    top: 0.7;
    display: block;
    transition: 0.2s;
    font-size: 30px;
    color: #9b9b9b;
  }
  

  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }

  .form__field:focus ~ .form__label {
    position: absolute;
    top: -1;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }

  table{
      width: 100%;
      border-collapse: collapse;
      font-size: 30px;
  }

  tr{
      width: 100%;
      display:flex;
  }

  td{
      padding: 20px;
  }

  .completed{
      background-color:lightgreen ;
  }

  .CheckBox{
      width: 50px;
      height: 50px;
      border-radius: 10px;
  }

